version: 2

jobs:
  build:
    machine: true
    steps:
    - checkout
    - restore_cache:
        key: io.jshift.odo-{{ checksum "pom.xml" }}
    - run:
        command: |
          # Run maven build
          mvn clean install
    - save_cache:
        key: io.jshift.odo-{{ checksum "pom.xml" }}
        paths:
        - ~/.m2

workflows:
  version: 2
  all:
    jobs:
    - build
